In [24]:
import pandas as pd

In [25]:
pd.__version__

'2.0.3'

In [26]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', nrows=100)

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
from sqlalchemy import create_engine

In [29]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
engine.connect()

In [31]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [33]:
df = next(df_iter)

In [34]:
len(df)

100000

In [35]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
# df

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.9 s, sys: 114 ms, total: 5.01 s
Wall time: 9.87 s

1000

In [39]:
from time import time

In [40]:
while True: 
    try:
        t_start = time()

        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('No more data to insert. Exiting the loop.')
        break

inserted another chunk, took 9.961 second
inserted another chunk, took 9.868 second
inserted another chunk, took 10.183 second
inserted another chunk, took 10.921 second
inserted another chunk, took 10.021 second
inserted another chunk, took 10.190 second
inserted another chunk, took 9.977 second
inserted another chunk, took 9.842 second
inserted another chunk, took 10.108 second
inserted another chunk, took 9.989 second
inserted another chunk, took 9.940 second

/tmp/ipykernel_179117/2382748681.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.228 second
inserted another chunk, took 6.164 second
No more data to insert. Exiting the loop.

In [41]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-28 17:53:43--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.220.32, 52.216.115.53, 54.231.138.40, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.220.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-28 17:53:43 (23.6 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [42]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [43]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [44]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265